.Input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    display: inline-block;
    font-size: 2rem;
    margin: 0 .5rem;
    padding-bottom: 1rem;
    color: #fff;
}

.Link,
.Link:visited {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    text-align: right;
    font-size: 2rem;
    padding: 0;
    margin: 1rem 0;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.Back {
    display: inline-block;
    cursor: pointer;
    text-align: right;
    font-size: 2rem;
    padding: 0;
    margin: 1rem 0;
    margin-left: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.Link:hover,
.Back:hover {
    text-decoration: underline;
    font-weight: bold;
}

.Field {
    display: inline-block;
    flex-basis: 50%;
}

.Form {
    margin: '1rem 1rem';
    display: 'flex'; 
    flex-direction: 'row';
    flex-wrap: wrap;
}