@import url("https://fonts.googleapis.com/css?family=Lato");

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  height: 100vh;
  overflow: hidden;
}

a, a:link {
  text-decoration: none;
}

a:visited {
  color: inherit;
}