.Background {
    width: 100%;
    min-height: 95vh;
    background-image: url('../../../assets/img/splash.jpg');;
    background-size: cover;
    background-position: top;
    /* filter: blur(2px); */
    position: absolute;
    z-index: -1;
}