.Sprint {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.name {
    display: inline-block;
    font-size: 1.2rem;
    padding: 1rem 0;
    margin: 0 2rem 0 0;
    flex-basis: 50%;
}

.detail {
    padding: 1rem 0;
    font-size: 1.2rem;
    flex-grow: 100;
    justify-content: flex-end;
    display: flex;
}

.start {
    display: inline-block;
    margin: 0 1rem;
}

.end {
    display: inline-block;
    margin: 0 1rem;
}

.duration {
    display: inline-block;
    margin-left: auto;
}
