.Task {
    margin: 2rem 0;
}

.Name {
    flex-basis: 75%;
    font-size: 2rem;
}

.Duration {
    flex-basis: 25%;
    font-size: 1.5rem;
    text-align: right;
}
.ToolBar {
    padding-right: 2rem;
}