<html>
    <body>
        <div style="padding: 10px">
        <h2 style="font-size:20px">Hello from Temporalite!</h2>
        <p style="font-size: 16px">
            You have been invited to join {{ workspace_name }}. Login to <a href="http://206.81.4.24">Temporalite</a>, click 'Join Workspace' and use the code below to join!
        </p>
        <div style="width: 100%; text-align: center">
            <div style="border: 2px solid gray; display: inline-block; background-color: #eee; font-size: 28px; padding: 20px; margin: 20px auto;">
                {{ code }}
            </div>
        </div>
        <p>Happy Temporalizing!</p>
        <p> - The Temporalite Team</p>
    </body>
</html>