.Landing {
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

.TextBox {
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
    padding: 2rem;
    text-align: right;
    width: 50rem;
    transition: all 1s;
}

.HeaderText {
    font-size: 2.5rem;
    text-transform: lowercase;
    margin: 0 0 1.5rem 0;
}

.HeaderText__brand {
    font-size: 8rem;
    /* font-family: 'Clicker Script', cursive; */
    /* font-style: italic; */
    background: #fff;
    color: #000;
    padding: 2rem 0rem 2rem 2rem;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
    line-height: 1;
    display: inline-block;
    width: auto;
    margin: 1rem 1rem;
    margin-right: 0;
    margin-left: auto;
    display: block;
    text-transform: none;
}

.Tagline {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
}

.Link,
.Link:visited {
    display: inline-block;
    font-size: 2rem;
    padding: 0;
    margin: .5rem 0;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}

.Link:hover {
    text-decoration: underline;
    font-weight: bold;
}

@media(max-width: 600px) {

    .HeaderText {
        font-size: 1.8rem;
    }
    .HeaderText__brand {
        font-size: 3rem;
    }
    
    .TextBox {
        width: 60%;
        padding: 1.5rem;
    }
}

.Footer {
    height: 5vh;
    text-align: right;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #000;
}
